{% extends "blog/base.html" %}
{% load class_name i18n %}
{% block content %}


    {% if query != None and query != '' %}
        <div class='row title-row m-3'>
            <h3 class='my-0 py-0'>{{ user_count }} {% trans "user results for" %} "<b>{{ query }}</b>"</h3>
        </div>
        <ul>
          {% for user in found_users %}
            <li>
                <h5>
                    <a style="color:black " href="{% url 'user-profile' user.user.id %}">{{ user.user.username }}</a>
                </h5>
            </li>
            {% endfor %}
        </ul>

        <div class='row title-row m-3'>
            <h3 class='my-0 py-0'>{{ count }} {% trans "movie results for" %} "<b>{{ query }}</b>"</h3>
        </div>
    {% endif %}

    {% for movie in movies %}
            <article class="media content-section
            {% if movie in completed_movies %}
                list-completed
            {% elif movie in planned_movies %}
                list-planned
            {% endif %}
            ">
                <div>
                    <div>
                        <img height="220" src="{{ movie.poster.url }}">
                    </div>
                    <div>
                        <button style="width: 150px" class="btn
                            {% if movie in completed_movies %}
                                btn-outline-primary
                            {% elif movie in planned_movies %}
                                btn-outline-success
                            {% else %}
                                btn-outline-secondary
                            {% endif %}
                        dropdown-toggle mt-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            {% if movie in completed_movies %}
                                {% trans "Completed" %}
                            {% elif movie in planned_movies %}
                                {% trans "Planned" %}
                            {% else %}
                                {% trans "Add to..." %}
                            {% endif %}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% if movie in planned_movies %}
                                <a class="dropdown-item list-completed" href="{% url 'add-to-completed' %}?next={{ request.path|urlencode }}&movie_id={{ movie.id }}">{% trans "Completed" %}</a>
                                <a class="dropdown-item list-remove" href="{% url 'remove-from-lists' %}?next={{ request.path|urlencode }}&movie_id={{ movie.id }}">{% trans "Remove" %}</a>
                            {% elif movie in completed_movies %}
                                <a class="dropdown-item list-planned" href="{% url 'add-to-planned' %}?next={{ request.path|urlencode }}&movie_id={{ movie.id }}">{% trans "Planned" %}</a>
                                <a class="dropdown-item list-remove" href="{% url 'remove-from-lists' %}?next={{ request.path|urlencode }}&movie_id={{ movie.id }}">{% trans "Remove" %}</a>
                            {% else %}
                                <a class="dropdown-item list-planned" href="{% url 'add-to-planned' %}?next={{ request.path|urlencode }}&movie_id={{ movie.id }}">{% trans "Planned" %}</a>
                                <a class="dropdown-item list-completed" href="{% url 'add-to-completed' %}?next={{ request.path|urlencode }}&movie_id={{ movie.id }}">{% trans "Completed" %}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="media-body m-3">
                    <h2 class="text-center">
                        <a id="movie-article" href="{% url 'movie-detail' movie.id%}">{{ movie.title }}</a>
                        ({{ movie.released.year }})
                    </h2>
                    <p>{{ movie.description | truncatewords:55 }}</p>
                </div>
            </article>
    {% endfor %}



    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1&q={{ query }}">{% trans "First" %}</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}&q={{ query }}">{% trans "Previous" %}</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}&q={{ query }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}&q={{ query }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}&q={{ query }}">{% trans "Next" %}</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}&q={{ query }}">{% trans "Last" %}</a>
        {% endif %}
    {% endif %}
{% endblock content %}