{% extends "blog/base.html" %}
{% load static %}
{% load ratings %}
{% load i18n %}
{% block content %}

    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

    <article class="media content-section
    {% if movie in completed_movies %}
        list-completed
    {% elif movie in planned_movies %}
        list-planned
    {% endif %}
    ">
        <div>
            <div>
                <img width="150" src="{{ movie.poster.url }}">
            </div>
            <div>
                <button style="width: 150px" class="btn dropdown-toggle mt-1
                {% if movie in completed_movies %}
                    btn-outline-primary
                {% elif movie in planned_movies %}
                    btn-outline-success
                {% else %}
                    btn-outline-secondary
                {% endif %}
                " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    {% if movie in completed_movies %}
                        {% trans "Completed" %}
                    {% elif movie in planned_movies %}
                        {% trans "Planned" %}
                    {% else %}
                        {% trans "Add to..." %}
                    {% endif %}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% if movie in planned_movies %}
                        <a class="dropdown-item list-completed" href="{% url 'add-to-completed' %}?next={{ request.path|urlencode }}&movie_id={{ movie.id }}">{% trans "Completed" %}</a>
                        <a class="dropdown-item list-remove" href="{% url 'remove-from-lists' %}?next={{ request.path|urlencode }}&movie_id={{ movie.id }}">{% trans "Remove" %}</a>
                    {% elif movie in completed_movies %}
                        <a class="dropdown-item list-planned" href="{% url 'add-to-planned' %}?next={{ request.path|urlencode }}&movie_id={{ movie.id }}">{% trans "Planned" %}</a>
                        <a class="dropdown-item list-remove" href="{% url 'remove-from-lists' %}?next={{ request.path|urlencode }}&movie_id={{ movie.id }}">{% trans "Remove" %}</a>
                    {% else %}
                        <a class="dropdown-item list-planned" href="{% url 'add-to-planned' %}?next={{ request.path|urlencode }}&movie_id={{ movie.id }}">{% trans "Planned" %}</a>
                        <a class="dropdown-item list-completed" href="{% url 'add-to-completed' %}?next={{ request.path|urlencode }}&movie_id={{ movie.id }}">{% trans "Completed" %}</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="media-body m-3">
            <h2 class="text-center">{{ movie.title }} ({{ movie.released.year }})</h2>
            <p>{{ movie.description }}</p>
        </div>

    </article>

    <article class="media content-section">
    <div class="media-body m-3">
        <h3>{% trans "Rating:" %}</h3>
        {% ratings movie %}
    </div>
    </article>

    <article class="media content-section">
        <div class="media-body m-3">
            <h3>{% trans "Duration:" %}</h3>
            <p> {{ movie.duration }} {% trans "min" %}</p>
        </div>
    </article>



{% endblock content %}