{% extends "blog/base.html" %}
{% load i18n %}
{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{% trans "Delete Post" %}</legend>
                <h2>{% trans "Are you sure you want to delete the post" %} "{{ object.title }}"?</h2>
                <div class="form-group">
                    <button class="btn btn-outline-danger" type="submit">{% trans "Yes, delete" %}</button>
                    <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">{% trans "Cancel" %}</a>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}