{% extends "blog/base.html" %}
{% block content %}
    <div class="header">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" alt="profile-picture">
        <h1>{{ user.username }}'s profile</h1>
        <a class="btn btn-outline-dark" href="{% url 'user-posts' user.username %}">All posts</a>
        {% if user == logged_in_user %}
            <a class="btn btn-outline-dark" href="{% url 'profile' %}">Settings</a>
        {% endif %}
    </div>
    <hr>
    <em>{{ user.first_name }} {{ user.last_name }} ({{ user.email }})</em>
    <hr>
    <h3>Total watchtime: {{ watchtime }} hrs</h3>

    <ul class="nav nav-tabs mt-5">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Planned</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Completed</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Favorites</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active" id="home">
            <div class="container mb-3 mt-3">
                <table class="table table-striped table-bordered mydatatable" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Duration</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in planned %}
                            <tr>
                                <td>
                                    <a style="color:inherit" href="{% url 'movie-detail' entry.movie.id %}">{{ entry.movie.title }}</a>
                                </td>
                                <td>{{ entry.movie.duration }} min</td>
                                <td>{{ entry.date_added }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane container fade" id="menu1">
            <div class="container mb-3 mt-3">
                <table class="table table-striped table-bordered mydatatable" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Rating</th>
                            <th>Duration</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in completed %}
                            <tr>
                                <td>
                                    <a style="color:inherit" href="{% url 'movie-detail' entry.movie.id %}">{{ entry.movie.title }}</a>
                                </td>
                                <td>
                                    {% for record in user_ratings %}
                                        {% if record.rating_id == entry.movie_id %}
                                            {{ record.score }} <i class="fas fa-star"></i>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ entry.movie.duration }} min</td>
                                <td>{{ entry.date_added }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane container fade" id="menu2">
            <div class="container mb-3 mt-3">
                <table class="table table-striped table-bordered mydatatable" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Duration</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in favorite %}
                            <tr>
                                <td>
                                    <a style="color:inherit" href="{% url 'movie-detail' entry.movie.id %}">{{ entry.movie.title }}</a>
                                </td>
                                <td>{{ entry.movie.duration }} min</td>
                                <td>{{ entry.date_added }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $('.mydatatable').DataTable({
            "lengthMenu": [5, 10, "All"]
        });
    </script>
{% endblock content %}